<div class="card">

  <div class="card-header bg-dark text-white">
    <h2>Editing Project</h2>
  </div>

 
    <%= render 'form', project: @project %>
  

 

  <div class="card-footer bg-dark">
    <table sytle="width:35%;">
      <tbody>
        <tr>
          <td><%= link_to 'Show', @project, class: 'btn btn-primary' %></td> 
          <td><%= link_to 'Back', projects_path, class: 'btn btn-primary' %></td>
        </tr>
      </tbody>
    </table>
  </div>

</div>