<div class="card">

    <div class="card-header">
        <h2>New Project</h2>
    </div>

    
    <%= render 'form', project: @project %>
    
    

    <div class="card-footer">
        <td><%= link_to 'Back', projects_path, class: 'btn btn-primary' %></td>
    </div>

</div>
